

<nav class="navbar navbar-expand-lg navbar-light " style="background: rgb(112, 42, 162) ;">
    <div class="container-fluid w-50">
     <a class="nav-link text-dark userBase-logo bg-warning" href="#" [routerLink]="['']">UserBase</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#" [routerLink]="['/createUser']">Create User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" aria-current="page" href="#" [routerLink]="['/displayAllUser']">Display All User</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>




  